html {
  font-size: 22px;
  font-family: monospace;
}

body {
  background-color: #000;
  color: greenyellow;
}

table,
tr,
td,
th,
caption {
  border: 2px solid whitesmoke;
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem;
  border-collapse: collapse;
}

table > caption {
  background-color: orangered;
}
